[*.cs]

# IDE1006: Estilos de nombres
dotnet_diagnostic.IDE1006.severity = none

# CS8632: La anotación para tipos de referencia que aceptan valores NULL solo debe usarse en el código dentro de un contexto de anotaciones "#nullable".
dotnet_diagnostic.CS8632.severity = none

# CS1591: Falta el comentario XML para el tipo o miembro visible públicamente
dotnet_diagnostic.CS1591.severity = none

# CS8622: La nulabilidad de los tipos de referencia del tipo de parámetro no coincide con el delegado de destino (posiblemente debido a los atributos de nulabilidad).
dotnet_diagnostic.CS8622.severity = none
